<web-app>
  <display-name>Hello web servlet3</display-name>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>testservlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
</web-app>
